
@import url(../../../../FONTS_GOOGLEAPIS_C/EARLYACCESS/CWTEXYEN.CSS);

#ja-topnav-outer
{
padding-left:50%;

}

#ja-topnav
{
position:absolute;
margin-left:-380px;
}

#ja-spotlight-wrap
{
padding-left:50%;
}

#ja-latestnews
{
margin-left:-380px;
}

#ja-popular
{
margin-left:-30px;

}

